<div class="login dir-column">
    <div class="shield"></div>
    <h1>{{ 'Login' | translate }}</h1>
    <button type="button" class="btn btn-primary btn-google" (click)="onGoogleLoginRegister()"><span class="icon-container"></span>{{ 'Google' | translate }}</button>
    <p>{{ 'Or login with your email' | translate }}</p>
    <form role="form" class="dir-column" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div *ngIf="isError$ | async" class="error">{{ 'Incorrect email or password' | translate}}</div>
      <input type="email" placeholder="{{ 'Email' | translate }}" autocomplete="on" formControlName="email" />
      <input type="password" placeholder="{{ 'Password' | translate }}" autocomplete="on" formControlName="password" />
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">{{ 'Send' | translate }}</button>
    </form>
    <a class="login-forgot-password" [routerLink]="['/forgot-password']" routerLinkActive="active">{{ 'I have forgotten the password' | translate }}</a>
    <p>{{ 'You do not have an account?' | translate }}<a [routerLink]="['/register']" routerLinkActive="active">{{ 'Register' | translate }}</a></p>
</div>
