<p class="lists-title">{{ 'Competitions' | translate}}</p>
<div class="list-container">
    <div class="list-container-options">
        <div class="list-container-option-group">
            <div class="list-container-option" [routerLink]="['historical', 'list']" routerLinkActive="active" [state]="{ competition: 'historical' }">
                <div class="list-container-option-icon">
                    <div class="historical"></div>
                </div>
                <span>{{ 'Historical' | translate}}</span>
            </div>
            <div class="list-container-option" [routerLink]="['players', 'list']" routerLinkActive="active" [state]="{ competition: 'season' }">
                <div class="list-container-option-icon">
                    <div class="season"></div>
                </div>
                <span>{{ 'Season' | translate}}</span>
            </div>
        </div>
        <!--<ng-container *ngFor="let nameList of nameLists; let i = index; even as isEven">
            <div class="list-container-option-group" *ngIf="isEven">
                <div class="list-container-option" [routerLink]="[nameLists[i]]" routerLinkActive="active">
                    <div class="list-container-option-icon">
                        <div class="{{nameLists[i]}}"></div>
                    </div>
                    <span>{{nameLists[i] | translate}}</span>
                </div>
                <div class="list-container-option" [routerLink]="[nameLists[i + 1]]" routerLinkActive="active">
                    <div class="list-container-option-icon">
                        <div class="{{nameLists[i + 1]}}"></div>
                    </div>
                    <span>{{nameLists[i + 1] | translate}}</span>
                </div>
            </div>
        </ng-container>-->
    </div>
</div>
