<p class="list-title">{{ listTitle | translate }}</p>
<div class="file-container-group" *ngIf="listTitle === 'players' && (roleUser === 'admin' || 'editor')">
    <div class="file-container">
        <div class="file">
            <label for="file">{{ 'Import data' | translate }}</label>
            <input type="file" #csvReader name="file" id="file" (change)="uploadListener($event)" accept=".csv" class="form-control" />
        </div>
    </div>
</div>
<ng-container *ngIf="listTitle !== 'players'; else listPlayers">
    <ng-container *ngFor="let player of players; let i = index">
        <app-player-card [player]="player" [place]="i + 1"></app-player-card>
    </ng-container>  
</ng-container>
<ng-template #listPlayers>
    <ng-container *ngFor="let player of players">
        <app-player-card-profile [player]="player"></app-player-card-profile>
    </ng-container>
</ng-template>