@import "../../../../../styles.scss";

:host {
  div {
    width: 40px;
    text-align: center;
    border-radius: 5px;
    padding: 2px;

    &[position="por"] {
      background-color: $background-color-por;
    }

    &[position="def"] {
      background-color: $background-color-def;
    }

    &[position="cen"] {
      background-color: $background-color-cen;
    }

    &[position="del"] {
      background-color: $background-color-del;
    }
  }
}
