<p class="list-title">{{ 'Create player' | translate}}</p>
<div class="player-card-new">
    <div class="player-card-new-container dir-column">
        <div class="player-card-new-container-info dir-column">
            <form role="form" [formGroup]="playerDetailsForm" *ngIf="playerDetailsForm">
                <div class="player-card-new-info dir-column">
                    <div class="player-card-new-info-position dir-column">
                        <div class="name">
                            <label for="name" required>{{ 'Name' | translate }}</label>
                            <input class="form-control" [ngClass]="{error}" type="text" id="name" placeholder="{{ 'Player is name' | translate }}" formControlName="name" />
                        </div>
                        <div>
                            <label for="position" required>{{ 'Position' | translate }}</label>
                            <select name="position" id="position" class="form-select" [ngClass]="{error}" aria-label="Default select example" formControlName="position">
                                <option value="" disabled>{{ 'Choose an option' | translate}}</option>
                                <ng-container>
                                    <option *ngFor="let position of positions" value="{{position}}">{{position | uppercase}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <div class="file">
                            <label for="file">{{ 'Image' | translate }}</label>
                            <input class="form-control" type="file" id="file" accept="image/png, image/jpeg" />
                        </div>
                    </div>
                </div>
                <div class="player-card-new-stadistic-all">
                    <ng-container formArrayName="stadistics" *ngFor="let stadistic of stadistics; let i = index">
                        <div class="player-card-new-stadistic dir-row" >
                            <div [formGroupName]="i">
                                <ng-container>
                                    <app-player-item-stadistic [detail]="true"  [edit]="true"
                                        [indexPosition]="positionsList[i] || 0"
                                        [stadistic]="playerDetailsForm?.value.stadistics[i]"></app-player-item-stadistic>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="buttons-container">
                    <button type="submit" (click)="save()" class="btn btn-primary delete">{{ 'Save' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

